.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    display: flex;
    margin-right: 1em;
    justify-content: flex-end;
}

.navbar-home, .navbar-links {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height: 10vh;
    margin: 1em 1em 1em 1em;
}

Link {
    text-decoration: none;
}

.navbar-link {
    color: #404040;
    font-size: 1.25em;
    font-weight: bold;
}

.navbar-link:hover {
    color: #ffd700;
}